{% extends 'maintemplate.html' %}
{% block title %} about us{% endblock  %}


{% block content %}
<div class='about_us_container container'>
    <div class='row d-flex justify-content-center'>
        <div class='col-6'>
    <div class='about_us_title'>
    <h3 >THE WORLD OF WAGYE BEEF</h3>
    </div><br><br><br>

    <h5>WHAT IS WAGYU  ?</h5><br>
    
    <p class='about_us_text'>
        
        Wagyu literally translates to "Japanese Cow".  The breed is highly sought 
        after due to its consistent high quality and reputation. To protect the 
        authenticity of Japanese Wagyu Beef, lineage is thoroughly tracked and 
        recorded from the time of birth. All Japanese Wagyu Beef are provided with 
        individually unique ID numbers. This allows anyone to trace the cattle's 
        history. Details about the cattle such as its date of birth, gender, 
        lineage, or breed may be verified on the Japanese National Livestock 
        Breeding Center Website. The NLBC provides this service to protect consumers
         and businesses from fraudulent suppliers. The Wagyu beef reputation has 
         been built upon hundreds of years of meticulous husbandry, and strictmeasures were taken to protect its authenticity. <br><br> Wagyu in Japan come from four main breeds: Japanese Black, Japanese Brown, Japanese Shorthorn, and Japanese Polled.</p><br><br>
        <h5>THE SUPERIOR BREED</h5><br>
        <p class='about_us_text'>Prior to 1867, Japanese practitioners of Buddhism refrained from eating meat. A strict ban was enforced prohibiting meat consumption. At that time, the native cattle breeds of Japan were being utilized for labor in the fields or in mines. Once the ban lifted, efforts were made to increase the musculature of the native cattle by cross breeding with imported breeds. The four Japanese native cattle breeds we know today as Wagyu were not established as indigenous until 1957.</p>
</div>
</div>
</div> 



{% endblock  %}