
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">SHIPPING</a></li>
                            <li><a href="#">REFUND</a></li>
                            <li><a href="#">PRIVACY POLICY</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>MENU</h3>
                        <ul>
                            <li><a href="#">SEARCH</a></li>
                            <li><a href="#">COOKING INSTRUCTIONS</a></li>
                            <li><a href="#">CAREER</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>BRIEFLY ABOUT COMPANY</h3>
                        <p class='about_us_text'>The Wagyu Shop aims to be your number one source for buying premium quality food, and your guide to learning about the food you are buying. We are here to provide you with knowledge and confidence through transparency and valuable information regarding some of the most sought-after gourmet products. We offer rare and exclusive products only found in top-quality restaurants. We also partner with other highly reputable vendors to make your entire shopping experience quick and simple.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class=" copyright">Company Name © 2022</p>
            </div>
        </footer>

