
.navbar{
    width: 100%;
    height: 200px;
    /* the undeline of the navbar container */
    border-bottom: 1px solid rgba(74, 75, 75, 0.671);
    z-index: 2;
  }
  
  /* navbar dropdown: color change */
  .dropdown-item:hover{
    font-size: 13px;
    background-color: #000000 !important; 
  }
  
  
  /* logo position in navbar */
  .logo{
    width: 270px;
    position: absolute;
    left:545px;
    bottom: 70px;
  }
  

  /* navbar item: account */
  .acc-btn{
    margin-right: 10px;
    font-size: 10PX;
    text-decoration: black !important;
    color: beige;
    transition: font-size 1s,text-decoration 1s !important ;
  }
  .acc-btn:hover{
    text-decoration: underline beige !important;
    color: beige ;
  }
  /* ------------------------------------- */