#id_old_password,#id_new_password1,#id_new_password2{
    width: 400px ;
    height: 45px ;
    margin-top: 10px;
    background-color: black;
    outline: 1px solid #6161619a;
    border: none;
    color: beige;
    border-radius: 0;
    transition: outline 1s, border-radius 1s;
}

#id_old_password:hover,#id_new_password1:hover,#id_new_password2:hover{
    outline: 1px solid beige;
    border-radius: 3px;

}

.control-label, .controls{
    color: beige;
}